/* Reset CSS */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0e5a6;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.logo img {
  width: 75px;
  height: 75px;
}

.navigation {
  margin: 0;
  padding: 0;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.navigation li {
  margin-right: 26px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.navigation li:hover a {
  color: #1fb7f1;
}

.navigation .active a {
  color: #000;
}

.login {
  display: flex;
  align-items: center;
}

.login a {
  text-decoration: none;
  color: #000;
  margin-left: 15px;
  font-size: 20px;
}

.login i {
  padding-right: 5px;
}

.login a:hover {
  color: #00aeef;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation ul {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0;
    background-color: #f0e5a6;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 999;
    text-align: center;
    padding-bottom: 15px;
  }

  .navigation li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .navigation li a {
    padding: 10px;
    width: 100%;
    text-align: left;
  }

  .navigation.active ul {
    display: flex;
  }

  /* Nút hamburger */
  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .menu-toggle:hover {
    color: #1fb7f1;
  }

  .login {
    display: none;
    padding: 10px 20px;
    width: 100%;
    background-color: #f0e5a6;
    text-align: left;
  }

  .navigation.active + .login {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .navigation ul {
    display: flex;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
  }
}
.banner {
  width: 100%;
  max-height: 650px;
}
